body {
  margin: 0;
  font-family: verdana;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: powderblue;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Lista {
  padding-top: 20px;
  border: 2px solid powderblue;
}

.Formulario {
  padding-top: 30px;
}

ul {
  border-left: 5px solid rgb(40, 124, 98);
  background-color: #f1f1f1;
  list-style-type: none;
  padding: 10px 20px;
}

h3 {
  text-align: center;
}

